name: Run default tests

env:
  OPENBLAS_NUM_THREADS: 1
  OMP_NUM_THREADS: 1
  JULIA_ACTIONS_RUNTEST_ARGS: CI,arpackjll

on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # don't stop other platforms 
      matrix:
        version:
          - 'lts'
          - '1.6'
          - '1.10'
          - '1.11'
          - '1.12'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        arch:
          - x64
        exclude:
          # Julia 1.6 has no native Apple Silicon binaries
          - os: macos-latest
            version: '1.6'
        include:
          - os: macos-13 # Intel
            version: '1.6'
            arch: x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      # # just inline the run calls...
      # - name: run testes
      #   run: |
      #     # The Julia command that will be executed
      #     julia --color=yes --depwarn=yes--inline=yes --project=@. -e 'using Pkg; Pkg.test(;coverage=true,test_args=["arpackjll"])'
      #   shell: bash
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v2
        with:
          file: ./lcov.info
